@model SCA.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}
@Html.Raw(TempData["msg"])
<div id="LoginUsuario" class="container">
    <div class="row align-items-center justify-content-center" style="height:60vh;">
        <div class="col-8">
            <h5 class="card-title text-center"></h5>
            <div class="card ">
                <div class="row ">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <center>
                                <img src="~/Content/img/Icono.jpeg" style="height:10vh;width:10vh;" />
                            </center>
                            <h5 class="card-title text-center"></h5>
                            <form action="/Acceso/Login" method="POST">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="Usuario" id="Usuario" placeholder="Nombre" required>
                                    <label for="Usuario"><i class='bx bx-user'></i>Usuario</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="Pass" id="Pass" placeholder="Clave" required>
                                    <label for="Pass"> <i class='bx bxs-lock'></i>Contraseña</label>
                                </div>
                                <br />
                                <div class="row justify-content-Center">
                                    <div div class="col-3">
                                        <button type="submit" class="btn btn-outline-secondary">Ingresar</button>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div div class="col-5">
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location.href = '/Acceso/Login';">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
