@{
    ViewBag.Title = "Acerca de";
}
<html>
<body>
    <div class="container">
        <div class="col-30">
            <div class="card">
                <div class="card-body">
                    <h2 class="row align-items-center justify-content-center" style="color:orange; font-size:60px">Sistema de control de activos</h2>
                    <br /> <br />
                    <center>
                        <h4 style="color:gray; font-size:22px">
                            SCA
                        </h4>
                        <br />
                        <div class="col-5">
                            <div class="card">
                                <div class="card-body " style=" color:gray; font-size: 25px">
                                    <h5> Versión: 1.0 </h5>
                                    <h5> Fecha de Versión: 2022</h5>
                                    <h5> Propietario: Jimmy Díaz Mora</h5>
                                    <h5> Correo: diazmoraj@hotmail.com</h5>
                                    <h5> Teléfono: 8753-1246</h5>
                                    <h5> Desarrollado por: Jimmy Díaz Mora</h5>
                                    <h5> Correo: diazmoraj@hotmail.com</h5>
                                    <h5> Teléfono: 8753-1246</h5>
                                    <h5> Lenguaje de Programación: .Net</h5>
                                </div>
                            </div>
                        </div>
                        <br />
                    </center>
                </div>
                <center>
                    <a href="~/Files/Ayuda.pdf" target="_blank">Ayuda</a>
                </center>
                <br />
            </div>
        </div>
    </div>
</body>
<h7 class="row align-items-center justify-content-center" style="color:gray; font-size:15px">SCA © Derechos Reservados 2022.</h7>
</html>